/* Animation Text */

.anim-typewriter {
	animation: typewriter 1s steps(44) 1s 1 normal both, blinkTextCursor 500ms steps(44) infinite normal;
}

@keyframes typewriter {
	from {
		width: 0;
	}
	to {
		width: 11.5em;
	}
}

@keyframes blinkTextCursor {
	from {
		border-right-color: rgba(255, 255, 255, .75);
	}
	to {
		border-right-color: transparent;
	}
}


/* Animation Site */

@keyframes transitionIn {
	
	from {
			opacity: 0;
			transform: rotateX(12deg);
	}
	to{
		opacity: 1;
		transform: rotateX(0);
	}
}